app:
  logging:
    home: ${APP_HOME}/logs
    level: info
auth:
  login:
    uri: /login
    oauth2:
      failureUri: /login/oauth2/failure
      successUri: /login/oauth2/success
    portal:
      failureUri: /login/portal/failure
      successUri: /login/portal/success
  role:
    adminUri: /admin/**,/api/admin/**
    apiUri: /api/**
    privateUri: /private/**
    publicUri: /public/**,/css/**,/js/**,/logo/**,/favicon.ico
  token:
    maxCountPerUser: 5
    prefix: JSRAPI
cache:
  redisson:
    config: classpath:/cache-config.yml
redis:
  mode: cluster
  datasource:
    timeout: 10000
spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      client:
        provider:
          aliyun:
            authorizationUri: https://signin.aliyun.com/oauth2/v1/auth
            issuerUri: https://oauth.aliyun.com
            jwkSetUri: https://oauth.aliyun.com/v1/keys
            tokenUri: https://oauth.aliyun.com/v1/token
            userInfoUri: https://oauth.aliyun.com/v1/userinfo
            userNameAttribute: sub
springdoc:
  apiDocs:
    path: /public/openapi/v3/api-docs
  swaggerUi:
    path: /public/docs/api/swagger-ui
  defaultProducesMediaType: application/json
  paths: /api/**
  packagesToScan: xyz.jiangsier.api
  groupConfigs:
    - group: g-all
      displayName: All
      pathsToMatch: /api/**
    - group: g-admin
      displayName: Admin
      pathsToMatch: /api/admin/**
    - group: g-account
      displayName: Account
      pathsToMatch: /api/account/**
perf:
  trace:
    excludeUri: /public/check/**,/favicon.ico,/error
